@tailwind base;
@tailwind components;
@tailwind utilities;
@import './color';
@import './header';
@import './pages/home.scss';

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/lato/Lato-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/quicksand/Quicksand-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}
label {
  margin: 0 !important;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0 auto;
}

section {
  padding: 4rem 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 99px;
  box-shadow: inset 0 0 6px rgba(122, 122, 122, 0.3);
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
button {
  outline: none !important;
  font-family: 'Quicksand', sans-serif !important;
}

.tsparticles-canvas-el {
  position: absolute !important;
  z-index: -1 !important;
}
.slick-prev {
  left: 1% !important;
  z-index: 1;
}
.slick-next {
  right: 1% !important;
  z-index: 1;
}
.slick-prev:before,
.slick-next:before {
  font-size: 30px;
}
