@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import "./color";
@import "./header";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 99px;
  box-shadow: inset 0 0 6px rgba(122, 122, 122, 0.3);
}
